body
	margin: 0px
	padding: 0px
	color: white
	font-size: 1em
	text-align: center

#circle_charts
	.circle_chart
		width: 50%
		float: left
		display: inline

		.circles-text
			position: absolute
			top: 36%
			left: 0px
			text-align: center
			width: 100%
			font-size: 24px

#data_stats
	width: 100%

#plot
	width: 95%
	height: 500px

.hidden
	display: none

.jqplot-highlighter-tooltip
	color: white

#usage_bar
	text-align: center
	clear: both

	#bar_border
		width: 90%
		height: 15px
		position: relative
		border: 1px solid #aaa
		margin-left: 5%

		#bar_fill
			position: absolute
			left: 0px
			top: 0px
			bottom: 0px
			width: 0%
			background-color: #555

		#bar_today
			position: absolute
			left: 0px
			top: 0px
			bottom: 0px
			width: 0%
			z-index: 5
			border-right: 1px solid red


