!!! 5
%html
	%head
		%title Status Meter
		%meta{:charset=>"utf-8"}
		%meta{:content=>'width=device-width, initial-scale=1.0', :name=>'viewport'}
		%link{:rel => "shortcut icon", :href => "img/logo.png"}

	%body{:style=>"background-color:black;"}
		#circle_charts
			.circle_chart
				.header Anytime Data
				#anytime_circle

			.circle_chart
				.header Bonus Data
				#bonus_circle

		#usage_bar
			#bar_border
				#bar_today
				#bar_fill


		#data_stats
			%table#data_stats
				%tr
					%th
						Date
					%th
						Reset Date
					%th
						Projected Throttle
				%tr
					%td#date_today
					%td#date_reset
					%td#date_throttle

		#plotted_data
			#plot

	#icon_circle.hidden
	%script{:type => "text/javascript", :src  => "js/jquery-1.12.4.min.js"}
	%script{:type => "text/javascript", :src  => "js/helpers.js"}
	%script{:type => "text/javascript", :src  => "js/circles.min.js"}
	%script{:type => "text/javascript", :src  => "js/moment.min.js"}
	%script{:type => "text/javascript", :src  => "js/jquery.jqplot.min.js"}
	%script{:type => "text/javascript", :src  => "js/jqplot.dateAxisRenderer.js"}
	%script{:type => "text/javascript", :src  => "js/jqplot.highlighter.js"}
	%link{:rel => :stylesheet, :type => "text/css", :href => "css/jquery.jqplot.min.css"}

	%script{:type => "text/javascript", :src  => "js/hnsm.js"}
	%link{:rel => :stylesheet, :type => "text/css", :href => "css/hnsm.css"}





